body
{
	background-image: url("https://dm0qx8t0i9gc9.cloudfront.net/watermarks/image/rDtN98Qoishumwih/math-style-background_fkYcZVOd_SB_PM.jpg");
}

	.login_div1 , .login_div2
	{
		background: cyan;
		padding: 10px;
		float: none;
		border-radius: 15px;
width: 500px;
height:80;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: cyan;
border-radius: 10px;
border-top: 10px solid #8b455a;
padding: 10px;
float: none;
height:80;
text-align: left;
}